.login_button {
    float: right;
    padding: 10px 10px;
    width: 150px;
    background: #f7941d;
    border: 0;
    color: #fff;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
    border-radius: 2px;
    text-transform: uppercase;
}