.wrapper {
    margin: 5px 0;
    height: 280px;
    overflow: hidden;
    overflow-y: scroll
}

.items_wrapper {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 0.3em;
}
 
.wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.box_header_row {
    padding: 15px 0
}

.right_header_row {
    text-align: right
}

.summaryBox {
    transition: visibility 0s, opacity 0.5s linear;
}