.product_listing {
    display: inline-block;
    margin-top: 50px
}

.product_listing li {
    display: inline-block;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #e8e8e8;
    margin: 5px;
    width: 300px;
}

.product_listing li h3 {
    text-align: center;
    font-size: 18px
}

.product_listing li img {
    height: 150px;
}

.product_listing li a {
    width: 100%;
    text-align: right;
    float: left;
    cursor: pointer;
}

.product_listing li p {
    float: left;
    display: block;
    display: -webkit-box;
    max-width: 400px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    background: #fe8f27;
    padding: 10px 10px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.body img{
    height: 200px;
    width: 200px
}

.body h3 {
    font-weight: bold;
    margin: 5px 0;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

.video_wrapper {
    margin: 25px 0
}

.video_wrapper iframe {
    width: 50%;
    height: 380px;
}

.list_wrapper h4 {
    font-weight: bold;
    margin: 10px 0;
    padding: 15px 0;
    border-bottom: 1px solid #e6dfdf;
}

.list_wrapper ul {
    margin: 20px 0
}

.list_wrapper ul li {
    line-height: 35px
}

.note_text {
    font-weight: bold;
    color: #5a5353;
    font-size: 15px;
}

.product_menu_wrapper {
    border: 3px solid #ececec;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product_menu_wrapper h3{
    background: #ffffff;
    padding: 15px;
    color: #000;
    text-align: center;
    border-bottom: 3px solid #de963f;
}

.image_wrapper {
    text-align: center;
    margin-bottom: 30px;
}