
.card {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    display: inline-block;
    width: 100%;
    min-height: 200px;
    margin: 5px 0;
}

.header {
    height: 56px;
    margin: 0;
    padding: 30px 20px 0px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.65);
    display: block;
}
  
.header_icon {
    float: left;
    padding-right: 15px;
}

.header_icon i {
    font-size: 25px;
    color: #717273
}

.header_anchor {
    float: right;
    color: rgba(0,0,0,0.65);
    margin-top: 0px;
    cursor: pointer
}

.header h3{
    float: left;
    margin-top: 5px;
    color: rgba(0,0,0,0.65);
}

.body {
    padding: 20px
}

.body ul {
    line-height: 25px;
    list-style: circle;
    color: #595959;
    margin-left: 0;
    padding-left: 15px;
    font-size: 15px;
}

.body ul li {
    cursor: pointer;
    padding: 5px
}

.body ul li:hover{ 
    background: #f9f9f9;
}