.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000
}

.popup_inner {
  top: 5%;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  height: 85%;
  margin: 30px auto;
  max-width: 80%;
  border-radius: 5px;
  padding-bottom: 60px;

}

.header {
  float: left;
    background: #de963f;
    padding: 15px;
    color: #ccc;
    width: 100%;
}

.header h3 {
  float: left;
  margin: 0;
  font-size: 16px;
  color: white;
}

.header button {
  float: right;
  background: none;
  border: 0;
}

.header button i {
  color: white !important
}

.popup_content {
  float: left;
  padding: 15px;
  color: #040404;
  width: 100%;
  height: 100%;
  padding-bottom: 14px;
  margin-bottom: 10px;
}